/* body {
  background-color: #303145;
} */

#box1 {
  background: #56b5f5;
  height: 200px;
  width: 200px;
  margin-right: 10px;
  border-radius: 25px;
  transition: all 0.3s ease-in;
}

#box1:hover {
  background: white;
}

#box2 {
  background: #54ecd3;
  height: 200px;
  width: 200px;
  margin-right: 10px;
  border-radius: 25px;
  transition: all 0.3s ease-in;
}

#box2:hover {
  background: white;
}

#box3 {
  background: #f4a259;
  height: 200px;
  width: 200px;
  margin-right: 10px;
  border-radius: 25px;
  transition: all 0.3s ease-in;
}

#box3:hover {
  background: white;
}

#box4 {
  background: #ff7789;
  height: 200px;
  width: 200px;
  border-radius: 25px;
  transition: all 0.3s ease-in;
}

#box4:hover {
  background: white;
}

#box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.title-style {
  text-align: center;
  color: purple;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.title-box{
  background: rgba(108, 108, 108, 0.085);
  height: 60px;
  width: 500px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}