#container_content {
  margin-left: 280px;
  padding: 15px;
}

.heading > h1 {
  color: purple;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.heading > p {
  color: purple;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.cards{
    overflow: auto;
    margin-bottom: 30px;
}

.cards > .card {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
  width: 400px;
  height: 500px;
  text-align: center;
}

.cards > .card_promocao {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
    width: 810px;
    height: 500px;
    text-align: center;
  }

.cards > .card > .user-img {
  background: url('https://images-na.ssl-images-amazon.com/images/M/MV5BMTUxNTExMzUzOF5BMl5BanBnXkFtZTgwOTI1MjA3OTE@._V1_UX172_CR0,0,172,256_AL_.jpg')
    no-repeat center center;
  -webkit-background-size: center;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin: 0 auto;
}

.user-name {
  font-size: 1rem;
  color: purple;
  display: block;
  text-align: center;
  margin: 5px;
}

.user-login {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 15px;
}

.usuario-login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.education {
  font-size: 0.8rem;
  display: inline-block;
  color: #EAEDF3;
}

.schools {
  font-size: 0.8rem;
}

h6{
    font-size: 1rem;
}

.col-md-4 {
  width: 33.3%;
  padding: 0 15px;
  display: inline-block;
  float: left;
  margin: 5px;
}

.col-md-3 {
  width: 25%;
  padding: 0 15px;
  display: inline-block;
  float: left;
}

.col-md-9 {
  width: 75%;
  padding: 0 15px;
  display: inline-block;
  float: left;
}
