#container {
  margin-left: 280px;
  background: #fff
}

.search_area {
  display: inline-block;
  width: 80%;
}

.fa_search {
  color: #eaedf3;
  margin-left: 20px;
}

.input[type='text'] {
  background: #fff;
  border: none;
  font-size: 1.3rem;
  color: #92cf48;
  padding: 10px;
  font-weight: 100;
  width: 90%;
  transition: all .3s ease-in-out;
}

.input[type='text']:hover {
    background: #F4F6F9
  }
.user_area {
    display: inline-block;
    float: right;
    padding: 10px;
}

.a {
    display: inline-block;
    padding-right: 20px;
}

input:active,
input:focus,
textarea:focus{
    background: #F4F6F9;
    outline: none;
}
