* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f4f6f9;
}

#sideMenu {
  background: #302d43;
  max-width: 280px;
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
}

#navigation {
  padding-top: 20px;
}

#navigation a {
  display: block;
  color: #eaedf3;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 300;
  transition: all 0.5s ease-in;
}

#navigation a:hover {
  background: #282639;
  border-left: 5px solid #92cf48;
  padding: 15px 30px 15px 25px;
  color: #92cf48;
}

#navigation a:focus {
  background: #282639;
  border-left: 5px solid #92cf48;
  padding: 15px 30px 15px 25px;
  color: #92cf48;
}

.fa {
  font-size: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 2px;
}

.logo-img {
  background: url('https://i.imgur.com/uzNqBRy.png')
    no-repeat center center;
  -webkit-background-size: center;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 205.6px;
  height: 132.7px;
  margin: auto;
  margin-bottom: 30px;
}

